In [1]:
pip install flask-cors

Collecting flask-cors
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: Flask>=0.9 in c:\users\allan\anaconda3\lib\site-packages (from flask-cors) (1.1.2)
Requirement already satisfied: Six in c:\users\allan\anaconda3\lib\site-packages (from flask-cors) (1.16.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\allan\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\allan\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (2.11.3)
Requirement already satisfied: click>=5.1 in c:\users\allan\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (8.0.4)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\allan\anaconda3\lib\site-packages (from Flask>=0.9->flask-cors) (2.0.3)
Requirement already satisfied: colorama in c:\users\allan\anaconda3\lib\site-packages (from click>=5.1->Flask>=0.9->flask-cors) (0.4.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\allan\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.9->flask-cors) (2.0.1)
Installing collected packages: flask-cors
Successfully installed flask-cors-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [12]:
# pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 10.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy.orm import sessionmaker
from flask import Flask, jsonify, render_template
## generation personal config file as config.py
## variable has to be set to "pw"
from config import pw

In [41]:
connection_string = f"postgres:{pw}@localhost:5433/Austin_Housing_Market"
engine = create_engine(f'postgresql://{connection_string}')

In [42]:
Base = automap_base()

In [43]:
Base.prepare(engine, reflect=True)

annual_sales = Base.classes.annual_sales
monthly_sales = Base.classes.monthly_sales
price_distribution = Base.classes.price_distribution

In [44]:
session = Session(engine)

In [45]:
session.query(price_distribution.year_2011).__dict__

{'session': <sqlalchemy.orm.session.Session at 0x122cccc5d00>,
 '_propagate_attrs': immutabledict({'compile_state_plugin': 'orm', 'plugin_subject': <Mapper at 0x122cccfaa30; price_distribution>}),
 '_raw_columns': [Column('year_2011', DOUBLE_PRECISION(precision=53), table=<price_distribution>, nullable=False)]}

In [47]:
session.query(annual_sales).all()

[<sqlalchemy.ext.automap.annual_sales at 0x122ccd205b0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20520>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20640>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd206a0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20700>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20760>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd207c0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20820>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20880>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd208e0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20940>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd209a0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20a00>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20a60>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20ac0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20b20>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20b80>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20be0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20c40>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20ca0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20d00>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20d60>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20dc0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20e20>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20e80>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20ee0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20f40>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20fa0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd20fd0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd2d0a0>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd2d100>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd2d160>,
 <sqlalchemy.ext.automap.annual_sales at 0x122ccd2d1c0>]

In [54]:
# pull in annual home sales excel file and create dataframe
annual_data_df = pd.read_excel('Resources/annual_home_sales.xlsx')

annual_data_df.head()

,year,sales,dollar_volume,average_price,median_price,total_listings,months_inventory
0,1990,7068,579669083,82013,72252,4412,6.5
1,1991,7485,661674435,88400,75865,3552,4.6
2,1992,8389,832936284,99289,82929,3020,3.6
3,1993,9784,1076687995,110046,90949,2860,3.2
4,1994,10418,1207051547,115862,95158,3645,3.9

In [55]:
annual_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              33 non-null     int64
 1   sales             33 non-null     int64
 2   dollar_volume     33 non-null     int64
 3   average_price     33 non-null     int64
 4   median_price      33 non-null     int64
 5   total_listings    33 non-null     int64
 6   months_inventory  33 non-null     float64
dtypes: float64(1), int64(6)
memory usage: 1.9 KB

In [50]:
# pull in monthly home sales excel file and create dataframe
monthly_data_df = pd.read_excel('Resources/monthly_home_sales.xlsx')
monthly_data_df.head()

,date,sales,dollar_volume,average_price,median_price,total_listings,months_inventory
0,1990-01-01,558,46937286,84117,71000,4391,7.9
1,1990-02-01,444,37056240,83460,71199,4343,8.7
2,1990-03-01,431,34722653,80563,72497,4459,9.3
3,1990-04-01,569,34616822,60838,71998,4545,9.1
4,1990-05-01,549,44907102,81798,73694,4731,9.3

In [52]:
# pull in price distribution excel file and create dataframe
price_data_df = pd.read_excel('Resources/price_distribution.xlsx')
price_data_df.head()

,price_distribution,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"$0 - $69,999",4.5,2.9,1.7,0.9,0.6,0.4,0.2,0.1,0.1,0.1,0.0,0.0
1,"$70,000 - $99,999",6.5,5.3,3.3,2.0,1.1,0.8,0.5,0.3,0.2,0.2,0.0,0.0
2,"$100,000 - $149,999",21.6,19.5,16.0,11.0,6.5,3.7,2.5,1.7,1.2,0.8,0.3,0.1
3,"$150,000 - $199,999",21.0,21.4,22.3,22.2,19.5,15.2,11.2,7.9,6.5,3.8,1.3,0.4
4,"$200,000 - $249,999",13.0,14.0,15.2,17.0,18.6,19.6,20.6,20.6,19.9,14.7,3.8,1.1

In [5]:
austin_housing = pd.read_csv('Resources/austinHousingData_2021.csv')

austin_housing.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [6]:
austin_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15171 entries, 0 to 15170
Data columns (total 47 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   zpid                        15171 non-null  int64
 1   city                        15171 non-null  object
 2   streetAddress               15171 non-null  object
 3   zipcode                     15171 non-null  int64
 4   description                 15171 non-null  object
 5   latitude                    15171 non-null  float64
 6   longitude                   15171 non-null  float64
 7   propertyTaxRate             15171 non-null  float64
 8   garageSpaces                15171 non-null  int64
 9   hasAssociation              15171 non-null  bool
 10  hasCooling                  15171 non-null  bool
 11  hasGarage                   15171 non-null  bool
 12  hasHeating                  15171 non-null  bool
 13  hasSpa                      15171 non-null  bool
 14  hasView                     15171 non-null  bool
 15  homeType                    15171 non-null  object
 16  parkingSpaces               15171 non-null  int64
 17  yearBuilt                   15171 non-null  int64
 18  latestPrice                 15171 non-null  int64
 19  numPriceChanges             15171 non-null  int64
 20  latest_saledate             15171 non-null  object
 21  latest_salemonth            15171 non-null  int64
 22  latest_saleyear             15171 non-null  int64
 23  latestPriceSource           15171 non-null  object
 24  numOfPhotos                 15171 non-null  int64
 25  numOfAccessibilityFeatures  15171 non-null  int64
 26  numOfAppliances             15171 non-null  int64
 27  numOfParkingFeatures        15171 non-null  int64
 28  numOfPatioAndPorchFeatures  15171 non-null  int64
 29  numOfSecurityFeatures       15171 non-null  int64
 30  numOfWaterfrontFeatures     15171 non-null  int64
 31  numOfWindowFeatures         15171 non-null  int64
 32  numOfCommunityFeatures      15171 non-null  int64
 33  lotSizeSqFt                 15171 non-null  float64
 34  livingAreaSqFt              15171 non-null  int64
 35  numOfPrimarySchools         15171 non-null  int64
 36  numOfElementarySchools      15171 non-null  int64
 37  numOfMiddleSchools          15171 non-null  int64
 38  numOfHighSchools            15171 non-null  int64
 39  avgSchoolDistance           15171 non-null  float64
 40  avgSchoolRating             15171 non-null  float64
 41  avgSchoolSize               15171 non-null  int64
 42  MedianStudentsPerTeacher    15171 non-null  int64
 43  numOfBathrooms              15171 non-null  float64
 44  numOfBedrooms               15171 non-null  int64
 45  numOfStories                15171 non-null  int64
 46  homeImage                   15171 non-null  object
dtypes: bool(6), float64(7), int64(27), object(7)
memory usage: 4.8+ MB